.selectedCurrency {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'Poppins-Regular';
  color: var(--text-color);
  margin-bottom: 50px;
}
.currencyTextInfoWrapper {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-between;
}
.currencyTextTitle {
  font-size: 35px;
}
.canvasWrapper {
  width: var(--container-width);
}
.selectCurrency {
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  width: 300px;
  font-family: var(--font-SemiBold);
  font-size: 30px;
  height: 100px;
  transition: 0.3s ease;
  margin-bottom: 150px;
  cursor: pointer;
}
.selectCurrency:hover {
  background-color: var(--hover-color);
}
@media (max-width: 450px) {
  .selectCurrency {
    width: 200px;
    font-size: 20px;
  }
}
