.tradeInput {
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: 'Poppins-SemiBold';
    border: 1px solid black;
}
.labelInput {
    display: flex;
    flex-direction: column;
}
