.autocompleteInput {
  background: var(--input-background-color);
  color: var(--text-color);
  border: none;
  font-size: 18px;
  width: 20vw;
  height: 65.5px;
  border-radius: 10px;
  padding-left: 20px;
}
/* Современные браузеры
   ----------------------------  */
.autocompleteInput::placeholder {
  color: var(--text-color);
}
.autocompleteInputWrapper {
  width: 65vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
  flex-direction: column;
  position: relative;
}
.suggestionWrapper {
  position: absolute;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  top: 68px;
  z-index: 2;
  transition: 0.3s ease;
}
.suggestion {
  background: var(--input-background-color);
  color: var(--text-color);
  width: 20vw;

  padding-left: 20px;
  height: 65px;
  display: flex;
  align-items: center;
  font-family: sans-serif;
}
.suggestion:hover {
  background-color: var(--hover-color);
  /* transition: 0.3s ease; */
}
@media (max-width: 900px) {
  .suggestion {
    width: 40vw;
  }
  .autocompleteInput {
    width: 40vw;
  }
}
@media (max-width: 400px) {
  .suggestion {
    width: 50vw;
  }
  .autocompleteInput {
    width: 50vw;
  }
}
