@font-face {
  font-family: 'Poppins-Light';
  src: url('./src/assets/fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  src: url('./src/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Regular';
  src: url('./src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Poppins-Bold';
  src: url('./src/assets/fonts/Poppins-Bold.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  --hover-color-input: rgba(87, 87, 87, 0.2);
  --container-width: 1250px;
  --card-background-color: rgba(32, 32, 37, 1);
  --color-black: rgba(0, 0, 0, 1);
  --color-black-half-opacity: rgba(0, 0, 0, 0.4);
  --color-white: rgba(255, 255, 255, 1);
  --color-gray: rgba(137, 137, 137, 1);
  --color-green: rgba(174, 223, 35, 1);
  --gradient-logo: linear-gradient(
    90deg,
    rgba(0, 206, 44, 1) 1%,
    rgba(174, 223, 35, 1) 50%,
    rgba(163, 220, 0, 1) 100%
  );
  --card-title-color: rgba(217, 217, 217, 1);
  --card-subtitle-color: rgba(167, 178, 195, 1);
  --gradient-background: linear-gradient(
    50deg,
    rgba(0, 0, 0, 1),
    rgba(16, 36, 24, 1),
    rgba(0, 0, 0, 1)
  );
  --font-SemiBold: 'Poppins-SemiBold';
  --font-Bold: 'Poppins-Bold';
  --font-Regular: 'Poppins-Regular';
  --font-Light: 'Poppins-Light';

  --card-title-font-size: 35px;
  --card-subtitle-font-size: 32px;
}

.transition {
  transition: 0.3s ease;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}

.text-color {
  color: var(--text-color);
}
.background-color {
  background-color: var(--background-color);
}

html[data-theme='dark'] {
  --text-color: rgba(217, 217, 217, 1);
  --background-color: rgba(0, 0, 0, 1);
  --input-background-color: rgba(29, 34, 43, 1);
  --hover-color: rgba(42, 50, 63, 1);
}
html[data-theme='light'] {
  --text-color: rgba(0, 0, 0, 1);
  --background-color: rgba(255, 255, 255, 1);
  --input-background-color: rgba(244, 246, 243, 1);
  --hover-color: rgb(193, 193, 193);
}

@media (max-width: 1290px) {
  html,
  body {
    --container-width: 750px;
  }
}
@media (max-width: 800px) {
  html,
  body {
    --container-width: 530px;
    --card-title-font-size: 28px;
    --card-subtitle-font-size: 24px;
  }
}
@media (max-width: 630px) {
  html,
  body {
    --container-width: 380px;
  }
}
@media (max-width: 430px) {
  html,
  body {
    --container-width: 230px;
    --card-title-font-size: 18px;
    --card-subtitle-font-size: 15px;
  }
}
