html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    --hover-color-input: rgba(87, 87, 87, 0.2);
    --container-width: 65vw;
    --card-background-color: #202025;
    --color-black: rgb(0, 0, 0);
    --color-black-half-opacity: rgba(0, 0, 0, 0.4);
    --color-white: rgb(255, 255, 255);
    --color-gray: rgb(137, 137, 137);
    --color-green: #aedf23;
    --gradient-logo: linear-gradient(
        90.18deg,
        #00ce2c 0.18%,
        #aedf23 49.3%,
        #a3dc00 99.88%
    );
    --container-width: 65vw;
    --card-title-color: rgb(217, 217, 217);
    --card-subtitle-color: rgb(167, 178, 195);
    --gradient-background: linear-gradient(50deg, #000000, #102418, #000000);
    --border-color-success: rgb(12, 120, 26);
    --border-color-success-transparent: rgba(12, 120, 26, 0);
    --border-color-error: rgb(198, 0, 0);
    --border-color-error-transparent: rgba(198, 0, 0, 0);
    --border-color-loading: rgba(247, 154, 13, 1);
    --border-color-loading-transparent: rgba(247, 154, 13, 0);
}

.transition {
    transition: 0.3s ease;
}
html[data-theme='dark'] {
    --text-color: rgba(217, 217, 217, 1);
    --background-color: #000000;
    --input-background-color: rgb(29, 34, 43);
    --hover-color: rgb(42, 50, 63);
}
html[data-theme='light'] {
    --text-color: #000000;
    --background-color: #ffffff;
    --input-background-color: #f4f6f3;
    --hover-color: rgb(212, 229, 255);
}
@font-face {
    font-family: 'Poppins-Light';
    src: url('./src/assets/fonts/Poppins-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-SemiBold';
    src: url('./src/assets/fonts/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('./src/assets/fonts/Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Poppins-Bold';
    src: url('./src/assets/fonts/Poppins-Bold.ttf') format('truetype');
}
