.tableHeader {
  font-family: var(--font-Light);
  color: var(--text-color);
  font-size: 32px;
  border-bottom: 2px solid var(--color-gray);
  max-width: 350px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  display: block;
}
.tableWrapper {
  width: var(--container-width);
  margin: auto;
}
.tableBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
