.inputsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttonAddOHLC {
    width: 120px;
    height: 50px;
    background-color: transparent;
    border: 2px solid black;
    font-family: 'Poppins-SemiBold';
    transition: 0.1s ease-in-out;
    font-size: large;
}
.buttonAddOHLC:hover {
    border: 6px solid black;
}
.dateInput {
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: 'Poppins-SemiBold';
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}
