.autocompleteInput {
  background: var(--input-background-color);
  color: var(--text-color);
  border: none;
  font-size: 18px;
  width: 350px;
  height: 65px;
  border-radius: 10px;
  padding-left: 20px;
  box-sizing: border-box;
}
.autocompleteInput::placeholder {
  color: var(--text-color);
}
.autocompleteInputWrapper {
  width: 350px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 75px;
  flex-direction: column;
  position: relative;
}
.suggestionWrapper {
  position: absolute;
  top: 68px;
  z-index: 1;
  transition: 0.3s;
}
.suggestion {
  background: var(--input-background-color);
  color: var(--text-color);
  width: 350px;
  cursor: pointer;
  padding-left: 20px;
  height: 65px;
  display: flex;
  align-items: center;
  font-family: var(--font-Light);
}
.suggestion:hover {
  background-color: var(--hover-color);
}
@media (max-width: 900px) {
  .suggestion {
    width: 350px;
  }
  .autocompleteInput {
    width: 350px;
  }
}
@media (max-width: 430px) {
  .suggestion {
    width: 350px;
  }
  .autocompleteInput {
    width: 350px;
  }
}
