.inputWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.inputsContainer {
    display: flex;
    flex-direction: column;
}
.inputCurrencyFrom {
    width: 50%;

    box-sizing: border-box;
    border: 1px solid var(--color-black);
    height: 30px;
    font-family: 'Poppins-SemiBold';
}
.head {
    width: 40px;
    padding-right: 10px;
}
.toCurrency {
    max-width: 150px;
    font-size: 15px;
}
