@media (max-width: 400px) {
    .selectedCurrency {
        width: 200px;
    }
    .currencyTextCode {
        font-size: 10px;
    }
    .currencyIco {
        transform: scale(0.8);
    }
}

.selectedCurrency {
    width: 450px;
    max-width: var(--container-width);
    cursor: pointer;
    transition: 0.5s;
}
.selectedCurrency:hover {
    background-color: var(--hover-color-input);
}
.currencyTextTitle {
    font-size: clamp(10px, 5vw, 40px);
}
