.tableHeader {
    font-family: 'Poppins-Light';
    color: var(--text-color);
    font-size: 32px;
    border-bottom: 2px solid var(--color-gray);
    min-width: 170px;
    max-width: 350px;
    margin-left: 50px;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.tableWrapper {
    width: var(--container-width);
    margin: auto;
}
.tableBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
