.tableHeader {
    font-family: 'Poppins-Light';
    color: var(--text-color);
    font-size: 32px;
    border-bottom: 2px solid var(--color-gray);
    width: 30vw;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.tableWrapper {
    width: 65vw;
    margin: auto;
}
.tableBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}
