.contactUs {
  width: var(--container-width);
  margin: auto;
  color: var(--text-color);
  font-family: var(--font-Regular);
}
.contactUs h2 {
  font-family: var(--font-Bold);
  font-size: 24px;
}
.contactUs form {
  display: flex;
  flex-direction: column;
}
.contactUs form div {
  display: flex;
  flex-direction: column;
  min-width: 170px;
  max-width: 450px;
}
.contactUs input {
  height: 30px;
  text-align: center;
  font-family: var(--font-SemiBold);
  border: 1px solid var(--color-black);
}
.contactUs textarea {
  height: 130px;
  font-size: 20px;
}
.contactUs button {
  width: 33%;
  margin-top: 30px;
  height: 55px;
  font-family: var(--font-SemiBold);
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  transition: 0.2s;
}

.contactUs button:hover {
  color: var(--background-color);
  background-color: var(--text-color);
}
