footer {
  padding-top: 40px;
  width: var(--container-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer-about {
  width: 1250px;
  font-size: 24px;
}
.footer-about-title {
  display: flex;
  font-family: var(--font-SemiBold);
  align-items: center;
  margin-bottom: 30px;
  background-image: var(--gradient-logo);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  gap: 20px;
}
.footer-about-subtitle {
  font-family: var(--font-Light);
  color: var(--text-color);
}
.footer-links {
  display: flex;
  gap: 50px;
}
.footer-link {
  width: 180px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.footer-link-title {
  color: var(--text-color);
  font-family: var(--font-Regular);
  font-size: 28px;
  margin-bottom: 10px;
}
.footer-link-item {
  font-family: var(--font-Regular);
  font-size: 24px;
  color: var(--color-gray);
}
.copyright {
  padding-top: 20px;
  padding-bottom: 20px;
  width: var(--container-width);
  text-align: center;
  margin: auto;
  font-family: var(--font-Regular);
  color: var(--color-gray);
}
.footer-link-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: none;
  background-color: transparent;
  position: relative;
}

.footer-link-title-mobile {
  font-family: var(--font-SemiBold);
  font-size: 26px;
  display: none;
  color: var(--text-color);
}

.footer-link-checkbox::after {
  content: url(../../assets/images/arrow-down-svgrepo-com.svg);
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  margin-left: 20px;
}

.footer-link-checkbox:checked::after {
  transform: rotate(180deg);
}
.footer-link-subtitle-wrapper {
  transition: 0.5s;
  height: 90px;
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
.footer-link-checkbox:not(:checked) ~ .footer-link-subtitle-wrapper {
  height: 0;
}

@media (max-width: 1290px) {
  .footer-about {
    display: none;
  }
  .footer-link {
    display: none;
  }
  .footer-links {
    flex-direction: column;
  }
  .footer-link-title-mobile {
    display: block;
  }

  footer {
    display: block;

    margin: auto;
  }
  .copyright {
    width: var(--container-width);
  }
}
